<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h4>{{label}}</h4>
    <h6>{{description}}</h4>
        <h6>Version : {{version}}</h4>
    </div>
    {{>footer}}
</body>

</html>